#phone-bg {
  background-color: #666;
  width:   auto;
  height:  auto;
  padding: 20px;
  border:  1px solid #c1c1c1;
}

#phone-iframe {
  width:  320px;
  height: 480px;
  margin: 0 auto;
  background-color: #ccc;
}